{%include 'mainhead.html'%}<br><br>
<head>
<style>
body {

}
</style>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" >
    <div class="container">
<h2>Search patient Here</h2>
  <form action="/attacker1"  >
    <div class="form-group">
      <label for="username"><h5>Patient Name:</h5></label>
      <input type="text" class="form-control" id="username" placeholder="Enter File Name" name="filename">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
</div>

  </div></div></body>

