{%include 'mainhead.html'%}<br><br>
<head>
<style>
    body{
    background-image:url("https://www.ultrahdwallpaper.in/uploads/cache/3344853157/Abstract-Paint-Background-HD-400x270-MM-100.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    }
</style>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" >
    <div class="container">
<h2> Login Here</h2>
  <form action="/client1" >
    <div class="form-group">
      <label for="username"><h5>Username:</h5></label>
      <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
      <label for="password"><h5>Password:</h5></label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
                <a class="nav-link" href="/clientRegister"><h3 style="color: #228B22;">New Client ? Click Here for Register </h3></a>

  </form>
    </div></div></div></div></body>


