{%include 'uhead.html'%}<br><br>
<head>
<style>
body {

}
</style>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" >
    <div class="container">
<h2>Search Patient Here</h2>
  <form action="/searchbyage1"  >
    <div class="form-group">
      <label for="username"><h5>patient Age:</h5></label>
      <input type="number" class="form-control" id="username" placeholder="Enter Patient Age" name="page">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
</div>

  </div></div></body>

