{% include 'shead.html'%}
	<center><h1> Attacker Details</h1></center>
<body>


<div class="container text-dark">
 <table class="table" border="1">
    <thead class="thead-dark">
      <tr>
        <th> Id</th>
              <th>Patient Name</th>
            <th>Host Address</th>
			<th>Datee </th>
    <th>IP Address </th>


        </thead>
</div>
{% for user in fdetails %}

	<tbody>
		<tr>
		   <td>{{user[0]}}</td>
		   <td>{{user[1]}}</td>
			<td>{{user[2]}}</td>
			<td>{{user[4]}}</td>
            	<td>{{user[3]}}</td>








		</tr>
	</tbody>

  {% endfor %}


</table>
</center>